html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    min-width: 320px;
    width: 100%;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #111;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}



/*===========================.navBar============================*/
header {
	font-size: 14px; 
}
.headerConteiner{
	height: 100px;
	max-width: 1160px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.navbar-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
}
.navbar-nav a{
	padding: 2% 2%;
}
.navbar-nav li{
	margin: 0 3%;
	white-space: pre;
}
.call{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
	width: 300px;
}
.headerNumber{
	width: 140px;
	white-space: pre;
}
.headerNumber img{
	margin-right: 1%;
}
#callMy{
	text-decoration: underline;
	white-space: pre;
}
.navbarLogo{
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}
.navbarLogo{
	white-space: pre;
}
header a {
	padding: 0 1%;
}
.menu-mobile-button {
	display: none;
}
.menu-mobile-button img{
	height: 32px;
	width: 32px;
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.menu-mobile-button {
		display: block;
	}
	.navbar-nav{
		display: none;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.menu-mobile-button {
		display: block;
	}
	.navbar-nav{
		display: none;
	}
	.call{
		flex-direction: column;
	}
	.navbarLogo{
	font-size: 18px;
	}
	.call{
		width: 100px;
	}
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #001f45;
    display: block;
    transition: 0.3s;
    border-bottom: 1px dotted #bbbdbe;
}
div#main-Sidenav ul {
    margin: 20px;
    list-style-type: none;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
}
html {
    -webkit-transition: .5s;
    transition: 0.5s;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  transform: translateX(250px);
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.main-sidenav a{
	text-transform: uppercase;
}
/*////////////////////////.navBar////////////////////////////////*/

/*===========================.car============================*/
.car {
    background: url(../img/mainCar.jpg) center no-repeat;
    background-size: cover;
    height: 627px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.centerConteiner {
    background: rgba(255, 255, 255, .8);
    width: 558px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
.button a {
    text-align: center;
    display: block;
    color: #fff;
	padding: 15px 15px;
    background-color: rgb(28, 28, 30);
    margin-bottom: 5%;
    width: 234px;
    height: 55px;
    white-space: pre;
}

.button p a {
    color: #fff;
}

.car h1 {
    margin: 5%;
    font-size: 44px;
    color: #111;
    text-align: center;
    font-weight: normal;
}

.scrollDown {
    position: absolute;
    top: 655px;
}

.scrollDown img {
    opacity: .8
}

.scrollDown img:hover {
    opacity: 1;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.car h1{
		padding: 0 1%;
    	font-size: 32px;
	}
	.mainText, .centerConteiner{
		width: 320px;
	}
}

/*////////////////////////.car////////////////////////////////*/

/*===========================.services============================*/
.services {
    max-width: 1160px;
    margin: 0 auto 5%;

}

.services p img {
    margin-right: 5%;
}

.services p {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3%;
}

.services a {
    padding: 5% 50% 5% 0;
    font-weight: normal;
    color: #5F5F5F;

}

.services h2 {
    text-align: center;
    margin: 75px 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.allServices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*4 первых сервиса*/
.topServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

/*1 и 2 сервисы*/
.top-1-2-Services {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
	margin-bottom: 5%;
}

/*3 и 4 сервисы*/
.top-3-4-Services {
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	margin-bottom: 5%;
}

/*4 последних сервиса*/
.botServices {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	margin-bottom: 5%;
}

/*5 и 6 сервисы*/
.bot-5-6-Services {
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

/*7 и 8 сервисы*/
.bot-7-8-Services {
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {

    .topServices,
    .botServices {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .top-1-2-Services,
    .top-3-4-Services,
    .bot-5-6-Services,
    .bot-7-8-Services {
        width: 100%;
        justify-content: space-around;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.services h2 {
	    text-align: center;
	    margin: 45px 0;
	}
}

@media only screen and (max-width : 578px) {
	
    .topServices,
    .botServices {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .top-1-2-Services,
    .top-3-4-Services,
    .bot-5-6-Services,
    .bot-7-8-Services {
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.services h2 {
	    text-align: center;
	    margin: 30px 0;
	}
}
/*///////////////////////////.services//////////////////////////////*/


/*===========================.text============================*/
.text {
    box-sizing: border-box;
    padding: 5% 0;
    background-color: #3F464B;
    min-height: 630px;
    color: #fff;
}

.textConteiner {
    max-width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.secondText {
    width: 45%;
    margin: 0 auto;
}

.secondText h2 {
    width: 380px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.secondText p {
    width: 90%;
    font-size: 14px;

}

.text .secondText a {
    width: 220px;
    padding: 20px 0;
    margin-top: 10%;
    line-height: 15px;
    font-size: 14px;
    display: block;
    background-color: #111;
    color: #fff;
    vertical-align: center;
    text-align: center;
    text-transform: uppercase;
}

.rang {
    width: 45%;
    margin: 0 auto;
}

.rang img {
    width: 100%;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .textConteiner {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .secondText p {
        margin: 3% auto;
    }

    .secondText h2 {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .secondText {
        width: 90%;
        margin: 0 auto;
    }

    .text .secondText a {
        margin: 5% auto;
    }

    .rang {
        width: 100%;
        margin: 0 auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .secondText h2 {
        width: 100%;
    }
}

/*////////////////////////.text////////////////////////////////*/

/*===========================.advantages============================*/
.advantages {
    min-height: 360px;
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;

}

.conteinerAdvantages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.box1,
.box2,
.box3,
.box4 {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 0 100px 10px;
    box-sizing: border-box;
    height: 372px;
}

.box2,
.box3,
.box4 {
    border-left: 1px solid #C4C4C4;
}

.box1-1,
.box2-2,
.box3-3,
.box4-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
   	margin-bottom: 3%;
}

.adv {
    width: 60%;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
}

.iconAdvantages {
    max-width: 56px;
    height: 56px;
    margin: 8% 0;
}

.iconArrowBig {
    width: 12px;
    height: 22px;
    margin-right: 15%;
}
.advant{
	color: #5F5F5F;
	font-size: 12px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .conteinerAdvantages {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        width: 100%;
        padding: 0;
        height: 300px;
    }
    .box4{
   		margin-bottom: 5%;
    }

    .box2,
    .box3,
    .box4 {
        border-top: 1px solid #C4C4C4;
        border-left: none;
    }

    .advant {
        width: 60%;
    }
    .adv {
    	width: 50%;
    	margin: 0;
	}
	.box1-1,
	.box2-2,
	.box3-3,
	.box4-4{
		margin-bottom: 3%;
	}
	.iconArrowBig {
    margin-right: 4%;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .conteinerAdvantages {
        width: 90%;
        margin: 0 auto;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        width: 100%;
        padding: 0;
        height: 280px;
    }

    .box2,
    .box3,
    .box4 {
        border-top: 1px solid #C4C4C4;
        border-left: none;
    }
	.adv{
		width: 60%;
	}
    .advant {
        width: 90%;
    }
}


/*///////////////////////////.advantages//////////////////////////////*/

/*============================.salon==================================*/
.salon {
    height: 530px;
    background: url(../img/salon.jpg) no-repeat center;
    background-size: cover;
    box-sizing: border-box;
}

.salonConteiner {
    vertical-align: center;
    padding-top: 8%;
}

.salonText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: center;
    width: 568px;
    height: 351px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    text-align: center;
}

.salonText h2 {
    margin: 5% auto 2%;
    font-size: 24px;
    width: 70%;
    font-weight: bold;
    text-transform: uppercase;
}

.salonText p {
    margin: 0 auto;
    width: 75%;
    color: #5F5F5F;
    font-size: 14px;
}

.salonText a {
    background-color: #111;
    margin: 6% auto;
    padding: 3% 10%;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .salonText {
        width: 320px;
        height: 320px;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        opacity: 0.8;
        text-align: center;
    }

    .salonConteiner {
        padding-top: 30%;
    }

    .salonText h2 {
        margin: 5% auto 0;
        width: 95%;
         font-size: 22px;
    }

    .salonText p {
        margin: 0 auto;
        width: 95%;
    }
}


/*///////////////////////////.advantages//////////////////////////////*/

/*==========================.portfolio=================================*/
.portfolio {
    width: 100%;
    background: #464E53;
}

.portfolioConteiner {
    min-height: 800px;
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolioConteiner h2 {
    margin: 5% auto 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.portfolioConteiner a {
    background: #111;
    display: block;
    color: #fff;
    margin: 0 auto 5%;
    text-align: center;
    color: #fff;
    padding: 2% 8%;
    text-transform: uppercase;
}

.allportfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-3-auto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0;
}

.bot-3-auto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .portfolioConteiner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .portfolioConteiner h2 {
        margin: 3% auto;
        text-align: center;
        color: #fff;
        font-size: 30px;
    }

    .portfolioConteiner a {
        background: #111;
        display: block;
        color: #fff;
        margin: 0 auto 5%;
        text-align: center;
        color: #fff;
        padding: 2% 8%;
        text-transform: uppercase;
    }

    .allportfolio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .top-3-auto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 2%;
    }

    .bot-3-auto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 2%;
    }

    .portfolio img {
        margin: 2% 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .portfolioConteiner h2 {
        margin: 8% auto;
    }

    .allportfolio {
        flex-direction: column;
    }

    .top-3-auto {
        width: 90%;
    }

    .bot-3-auto {
        width: 90%;
    }

    .portfolioConteiner a {
        padding: 5% 15%;
    }
}

/*///////////////////////////.portfolio///////////////////////////////*/

/*==============================.serv================================*/
	.serv{
		background: #DFDFDF;
		height: 650px;
		box-sizing: border-box;
	}
	.servConteiner{
		margin: 0 auto;
		max-width: 1160px;
	}
	.serv h3{
		font-size: 30px;
		font-weight: bold;
		margin: 0 auto 5%;
		text-align: center;
		vertical-align: center;
		padding-top: 5%;
		text-transform: uppercase;
	}
	.carousel{
		width: 60%;
		margin: 0 auto;
	}
	/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.serv{
		height: 600px;
	}
	.carousel{
		width: 80%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.serv{
		height: 320px;
	}
	.carousel{
		width: 100%;
	}
}


/*//////////////////////////////.serv///////////////////////////////*/

/*============================.section-work==============================*/
	.section-work {
		background: #DFDFDF;

	}
	.section-work h3{
		font-size: 30px;
		font-weight: bold;
		margin: 0 auto 15%;
		text-align: center;
		vertical-align: center;
		padding-top: 5%;
		text-transform: uppercase;
	}
	.section-work h4{
		font-weight: bold;
		text-transform: uppercase;
		margin: 2% 0 5%;
	}
	.gallery-item{
		background: #fff;
		padding-top: 5%;
	}
	.gallery p{
		color: #5F5F5F
	}
	.section-work img{
		position: absolute;
		top: -25%;
		left: 38%;
		margin-bottom: 2%;
		padding-bottom: 5%; 
	}
	#item-tab1{
		margin-bottom: 5%;
	}
	#myTab-gallery{
		margin-bottom: 5%;
	}
	/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.gallery{
		flex-direction: column;
		width: 100%;
		margin: 0 auto;

	}
	.section-work img{
		position: absolute;
		top: -25%;
		left: 42%;
		margin-bottom: 5%;
		padding-bottom: 10%;
	}
	.section-work h4{
		margin: 5% 0 5%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.section-work img{
		position: absolute;
		top: -15%;
		left: 30%;
		margin-bottom: 5%;
		padding-bottom: 10%;
	}
	.section-work h4{
		margin: 20% 0 5%;
	}
	.gallery-item {
		margin: 20% auto;
	}
}
/*////////////////////////////.section-work//////////////////////////////*/



/*============================.more==============================*/
	.more{
		width: 100%;
	}
	.moreConteiner{
		max-width: 1160px;
		margin: 0 auto;
	}
	.moreConteiner h2{
		margin: 5% auto;
		padding: 1% 0;
		width: 50%;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		border-top: 2px solid #111;
		border-bottom: 2px solid #111;
		text-transform: uppercase;
	}
	.moreConteiner h4{
		font-weight: bold;
		text-transform: uppercase;
		margin: 5% 0;
	}
	.one, .two, .three{
		width: 30%;
		margin: 0 auto;
	}
	.moreContent {
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
	}
	.moreContent p{
		color: #5F5F5F;
	}
	.more a {
     margin: 4% auto;
    padding: 4% 10%;
    text-transform: uppercase;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.moreConteiner h2{
		margin: 5% auto;
		padding: 1% 0;
		line-height: 35px;
		width: 100%;
		border-top: 2px solid #111;
		border-bottom: 2px solid #111;
	}
	.one, .two, .three{
		width: 90%;
		margin: 0 auto 5%;
	}
	.moreContent {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
/*////////////////////////////.more///////////////////////////////*/

/*============================.nevsSection==============================*/
	.nevsSection{
		width: 100%;
		background: #464E53;
		color: #fff;
	}
	.nevsConteiner{
		max-width: 1160px;
		margin: 0 auto;
	}
	.nevsConteiner h2{
		margin: 5% auto;
		padding: 5% 0 0;
		width: 50%;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
	}
	.nevsConteiner h4{
		font-weight: bold;
		text-transform: uppercase;
		margin: 5% 0;
		font-size: 16px;
	}
	.Nevs{
		width: 30%;
		margin: 0 auto 4%;
	}
	.nevsContent {
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
	}
	.nevsSection a {
     	margin: 4% auto;
    	padding: 4% 10%;
    	text-transform: uppercase;
    	color: #fff;
    }
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.nevsConteiner h2{
		margin: 5% auto 0;
		padding: 5% 0;
		line-height: 35px;
		width: 100%;
	}
	.Nevs{
		width: 90%;
		margin: 0 auto 5%;
	}
	.nevsContent {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
/*////////////////////////////.nevsSection///////////////////////////////*/

/*============================.mapSection==============================*/
	.mapSection{
		width: 100%;
		min-height: 444px;
		background: url(../img/map.jpg) no-repeat center;
		background-size: cover;
	}
	.map{
		max-width: 1160px;
	}
/*////////////////////////////.mapSection///////////////////////////////*/

/*============================.footer==============================*/
	.mapSection{
		width: 100%;
		min-height: 444px;
		background: url(../img/map.jpg) no-repeat center;
		background-size: cover;
	}
	.map{
		max-width: 1160px;
	}
/*////////////////////////////.footer///////////////////////////////*/
	footer{
		width: 100%;
		background: #464E53;
		color: #fff;
		min-height: 270px;
	}
	footer h2, footer h4{
		color: #111;
		font-weight: bold;
	}
	.footerConteiner{
		max-width: 1160px;
		margin: 0 auto;
		padding-top: 3%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
	.blok1 {
		align-self: flex-start;
	}
	.blok1 h2{
		font-size: 30px;
		text-transform: uppercase;
	
	}
	.blok2 {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center; 
	}
	.blok3 {

	}
	.blok2 .nav {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center; 
	}
	.blok2 .nav p {
		font-size: 16px;
		text-transform: uppercase;
		min-width: 70px;
	}
	.footerConteiner a{
		display: block;
		color: #fff;
		padding: 5% 10%;
	}
	.cont{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #ccc;
	}
	.cont a{
		color: #ccc;
	}
	.adress p{
		line-height: 10px;
	}
	.footerNumber {
		text-align: right;
		min-width: 270px;
	}
	.soc img{
		margin-right: 10%;
	}
	.soc a {
		padding: 2%;
		text-transform: uppercase;
		font-size: 12px;
		display: block;
		margin: 3% 0;
	}
	.copyright{
		background-color: #fff;
		height: 45px;
		color: #5F5F5F;

	}
	.copyright p{
		margin: 0 0 0 5%;
		padding-top: 1%;
	}
	
	/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.footerConteiner{
		margin: 0 auto;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
	}
	footer h2{
		margin: 0 auto;
	}
	.blok1, .blok2, .blok3{
		margin: 0 auto;
	}
	.blok2 {
		width: 90%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center; 
	}
	.blok2 .nav {
		flex-direction: column;
	}
	.blok2 .cont{
		flex-direction: column;
	}
	.nav{
		margin-top: 5%;
		text-align: center;
	}
	.nav p{
		line-height: 16px;
	}
	.soc img{
		margin-right: 10%;
	}
	.soc a {
		padding: 2%;
		text-transform: uppercase;
		font-size: 12px;
		display: block;
		margin: 3% 0;
	}
	.footerNumber a, .adress p{
		text-align: center;
	}
	.adress{
		margin-top: 5%;
	}
	
		
}
/*============================ adaptiv ==============================*/
/*Сначала адаптацию каждого блока начал пихать сюда, только позже додумался
адаптацию блока оставлять после самого блока, ну а то что с первых блоков
 осталось тут. Завтра может раскидаю все по местам*/


